
h1 {
  font-family: var(--heading-font-fam);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  margin: 0;
}

button {
  text-align: center;
  font-family: var(--btn-font-fam);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  color: rgb(var(--font-clr));
  border: none;
}

.container {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100;
  background-color: inherit;
  color: rgb(var(--font-clr));
  scale: 1;
  opacity: 1;
  transform: translateX(0%);
}

.card.hidden,
.gameboard.hidden,
.container.hidden {
  opacity: 0;
  transform: translateX(-100%) scale(0);
  transition: scale 1000ms ease-in, opacity 300ms ease-in;
}

.welcome {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.welcome h1 {
  margin-bottom: 5rem;
}

.welcome button {
  padding: 2rem;
  border-radius: 2rem;
  width: 25%;
  background: linear-gradient(to bottom right, rgb(var(--accent-clr-3)), rgb(var(--accent-clr-1)));
}

.welcome button:hover {
  transform: translateY(-5%) scale(1.1);
  transform-origin: center;
  filter: contrast(1.8);
  border: none;
}

.game-mode {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.game-mode h1 {
  margin-bottom: 5rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 40%;
}

.buttons-container button {
  padding: 1.7rem;
  border-radius: 1.7rem;
  width: 40%;
}

.buttons-container button:hover {
  transform: scale(1.1);
  filter: contrast(1.8);
  transition: transform 300ms ease-in-out, filter 200ms ease-in-out;
}

.buttons-container button:first-child {
  background: linear-gradient(to bottom right, rgb(var(--accent-clr-3)), rgb(var(--accent-clr-1)));
}

.buttons-container button:last-child {
  background: linear-gradient(to bottom right, rgb(var(--accent-clr-3)), rgb(var(--accent-clr-2)));
}

img {
  height: 100px;
}

.gameboard {
  aspect-ratio: 1/1;
  height: 75%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: white;
  border: 2px solid black;
}

.gameboard.hidden {

}

.square {
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font-fam);
}

.game.container {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 66%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
}