@import './css-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

:root {
  --bg-clr: 4, 8, 15;
  --accent-clr-1: 80, 125, 188;
  --accent-clr-2: 255, 51, 102;
  --accent-clr-3: 46, 196, 186;
  --required-input-clr: 170, 68, 101;
  --valid-input-clr: 112, 146, 85; 
  --font-clr: 246, 247, 248;

  --heading-font-fam: 'Orbitron', sans-serif, var(--system-ui);
  --heading-font-size: calc(4rem + 3vw);
  --heading-font-weight: 900;

  --btn-font-fam: 'Orbitron', sans-serif, var(--system-ui);
  --btn-font-size: calc(1.5rem + 1vw);
  --btn-font-weight: 400;

  --p-font-fam: 'Roboto Slab', serif, var(--system-ui);
  --p-font-size: calc(1rem + 1vw);
  --p-font-weight: 400;
  --p-light-font-weight: 300;

  --gap: 4rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100vw;
  position: relative;
}

.container {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 100%;
  height: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.game.container {
  position: absolute;
  inset: 0;
  margin: auto;
  width: 66%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: var(--gap);
}

.gameboard {
  aspect-ratio: 1/1;
  height: 75%;
  width: 100%;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.square {
  border: 1px solid black;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  font-family: var(--heading-font-fam);
}

.modal {
  width: 70%;
  height: 70%;
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.hidden {
  scale: 0;
  opacity: 0;
}