@import './css-reset.css';
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400&display=swap');

:root {
  --bg-clr: 4, 8, 15;
  --accent-clr-1: 80, 125, 188;
  --accent-clr-2: 255, 51, 102;
  --accent-clr-3: 46, 196, 186;
  --font-clr: 246, 247, 248;

  --heading-font-fam: 'Orbitron', sans-serif, var(--system-ui);
  --heading-font-size: calc(4rem + 3vw);
  --heading-font-weight: 900;

  --btn-font-fam: 'Orbitron', sans-serif, var(--system-ui);
  --btn-font-size: calc(1.5rem + 1vw);
  --btn-font-weight: 400;

  --p-font-fam: 'Roboto Slab', serif, var(--system-ui);
  --p-font-size: calc(1rem + 1vw);
  --p-font-weight: 400;
  --p-light-font-weight: 300;

  --gap: 4rem;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  width: 100vw;
  background: rgb(var(--bg-clr));
  color: var(--font-clr);

  display: flex;
  flex-flow: row;
  overflow: hidden;
}

h1 {
  font-family: var(--heading-font-fam);
  font-size: var(--heading-font-size);
  font-weight: var(--heading-font-weight);
  color: rgb(var(--font-clr));

  filter: drop-shadow(0 0.5rem rgb(var(--font-clr), 0.5));
}

button {
  font-family: var(--btn-font-fam);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);

  padding: 0.5em;
  border: none;
  border-radius: 0.5em;

  transition: all 300ms ease-in-out;
}

button:hover {
  transform: scale(1.05);
  transform-origin: center;
}

.container {
  scroll-snap-align: start;
  width: 100vw;
  flex-shrink: 0;

  display: grid;
  place-content: center;

  transition: all 300ms ease-in-out;
}

.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.welcome-message button {
  background: linear-gradient(to right, rgb(var(--accent-clr-1)), rgb(var(--accent-clr-2)));
  color: rgb(var(--font-clr));
  padding: 0.5em;
}

.welcome-message button:hover {
  filter: contrast(1.5);
  box-shadow: 0 0 0.2em 0.2em rgb(var(--font-clr), 0.5);
}

.start-game-module {
  scale: 0;
}

.set-up-module {
  scale: 0;
}

.start-game-module .button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: var(--gap);
}

.start-game-module .button-container button {
  min-width: 30%;
  filter: grayscale(1);
  color: rgb(var(--font-clr));
}

.start-game-module .button-container button:first-child {
  background: rgb(var(--accent-clr-1));
}

.start-game-module .button-container button:nth-child(2) {
  background: rgb(var(--accent-clr-2));
}

.start-game-module .button-container button:hover {
  filter: grayscale(0);
}

.start-game-module .button-container button:first-child:hover {
  box-shadow: 0 0 0.2em 0.2em rgb(var(--accent-clr-2), 0.5);
}

.start-game-module .button-container button:nth-child(2):hover {
  box-shadow: 0 0 0.2em 0.2em rgb(var(--accent-clr-1), 0.5);
}

.render-container {
  background-color: rgb(var(--accent-clr-3));
}